¡Hello {{ .Identity.traits.name }}!

Welcome to IR-Board. You have been invited to join the platform.

To complete your signup and configure your password, head on over to the webpage and use the following security code:

CODE: {{ .RecoveryCode }}

warning: This code is single-use and expires after 24h for security purposes.

If you have not requested this invitation, please ignore this message.

Regards,
The IR-Board team.