--
-- PostgreSQL database dump
--

\restrict NYcBFTQrLpKfPIeEgsaqYpuGEe35GZXfGPY3RGOTr5L3qxScQvDD9sPSdjaDnrD

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.app_user (
    id bigint NOT NULL,
    active boolean NOT NULL,
    email character varying(255) NOT NULL,
    is_admin boolean NOT NULL,
    name character varying(255) NOT NULL,
    ory_id character varying(255) NOT NULL,
    pending_activation_token character varying(255),
    surname character varying(255)
);


ALTER TABLE public.app_user OWNER TO rms_manager;

--
-- Name: app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.document (
    id bigint NOT NULL,
    entity_identifier character varying(255),
    project_id bigint,
    file_name character varying(255) NOT NULL,
    file_size bigint,
    mime_type character varying(255) NOT NULL,
    s3_key character varying(255) NOT NULL,
    state character varying(255),
    CONSTRAINT document_state_check CHECK (((state)::text = ANY ((ARRAY['PENDING_APPROVAL'::character varying, 'APPROVED'::character varying, 'DEACTIVATED'::character varying, 'REMOVED'::character varying])::text[])))
);


ALTER TABLE public.document OWNER TO rms_manager;

--
-- Name: document_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.document ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document_observer_requirement; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.document_observer_requirement (
    document_id bigint NOT NULL,
    requirement_id bigint NOT NULL
);


ALTER TABLE public.document_observer_requirement OWNER TO rms_manager;

--
-- Name: entity_lock; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.entity_lock (
    id bigint NOT NULL,
    entity_id bigint NOT NULL,
    entity_type character varying(255) NOT NULL,
    locked_at timestamp(6) without time zone NOT NULL,
    project_id bigint,
    system_wide boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.entity_lock OWNER TO rms_manager;

--
-- Name: entity_lock_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.entity_lock ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.entity_lock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: functionality; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.functionality (
    id bigint NOT NULL,
    entity_identifier character varying(255),
    project_id bigint,
    description character varying(255),
    label character varying(255),
    name character varying(255),
    state character varying(255),
    CONSTRAINT functionality_state_check CHECK (((state)::text = ANY ((ARRAY['ACTIVE'::character varying, 'DEACTIVATED'::character varying, 'REMOVED'::character varying])::text[])))
);


ALTER TABLE public.functionality OWNER TO rms_manager;

--
-- Name: functionality_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.functionality ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.functionality_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.project (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    description character varying(255),
    name character varying(255),
    priority_style character varying(255),
    state character varying(255),
    CONSTRAINT project_priority_style_check CHECK (((priority_style)::text = ANY ((ARRAY['TERNARY'::character varying, 'MOSCOW'::character varying])::text[]))),
    CONSTRAINT project_state_check CHECK (((state)::text = ANY ((ARRAY['ACTIVE'::character varying, 'FINISHED'::character varying, 'DEACTIVATED'::character varying, 'REMOVED'::character varying])::text[])))
);


ALTER TABLE public.project OWNER TO rms_manager;

--
-- Name: project_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: requirement; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.requirement (
    requirement_type character varying(31) NOT NULL,
    id bigint NOT NULL,
    entity_identifier character varying(255),
    project_id bigint,
    description character varying(255),
    is_pending_review boolean,
    name character varying(255),
    order_value bigint,
    state character varying(255),
    priority character varying(255),
    stability character varying(255),
    actual_value double precision,
    measurement_unit character varying(255),
    operator character varying(255),
    target_value double precision,
    threshold_value double precision,
    parent_id bigint,
    functionality_id bigint,
    CONSTRAINT requirement_operator_check CHECK (((operator)::text = ANY ((ARRAY['EQUAL_TO'::character varying, 'LESS_THAN'::character varying, 'LESS_THAN_OR_EQUAL_TO'::character varying, 'GREATER_THAN'::character varying, 'GREATER_THAN_OR_EQUAL_TO'::character varying, 'NOT_EQUAL_TO'::character varying])::text[]))),
    CONSTRAINT requirement_requirement_type_check CHECK (((requirement_type)::text = ANY ((ARRAY['FR'::character varying, 'NFR'::character varying])::text[]))),
    CONSTRAINT requirement_state_check CHECK (((state)::text = ANY ((ARRAY['PENDING_APPROVAL'::character varying, 'APPROVED'::character varying, 'FINISHED'::character varying, 'DEACTIVATED'::character varying, 'REMOVED'::character varying])::text[])))
);


ALTER TABLE public.requirement OWNER TO rms_manager;

--
-- Name: requirement_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.requirement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.requirement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: requirement_observing; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.requirement_observing (
    observer_id bigint NOT NULL,
    observed_id bigint NOT NULL
);


ALTER TABLE public.requirement_observing OWNER TO rms_manager;

--
-- Name: stakeholder; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.stakeholder (
    id bigint NOT NULL,
    entity_identifier character varying(255),
    project_id bigint,
    description character varying(255),
    name character varying(255),
    state character varying(255),
    CONSTRAINT stakeholder_state_check CHECK (((state)::text = ANY ((ARRAY['PENDING_APPROVAL'::character varying, 'APPROVED'::character varying, 'DEACTIVATED'::character varying, 'REMOVED'::character varying])::text[])))
);


ALTER TABLE public.stakeholder OWNER TO rms_manager;

--
-- Name: stakeholder_id_seq; Type: SEQUENCE; Schema: public; Owner: rms_manager
--

ALTER TABLE public.stakeholder ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stakeholder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stakeholder_observer_requirement; Type: TABLE; Schema: public; Owner: rms_manager
--

CREATE TABLE public.stakeholder_observer_requirement (
    stakeholder_id bigint NOT NULL,
    requirement_id bigint NOT NULL
);


ALTER TABLE public.stakeholder_observer_requirement OWNER TO rms_manager;

--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: document_observer_requirement document_observer_requirement_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.document_observer_requirement
    ADD CONSTRAINT document_observer_requirement_pkey PRIMARY KEY (document_id, requirement_id);


--
-- Name: document document_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.document
    ADD CONSTRAINT document_pkey PRIMARY KEY (id);


--
-- Name: entity_lock entity_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.entity_lock
    ADD CONSTRAINT entity_lock_pkey PRIMARY KEY (id);


--
-- Name: functionality functionality_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.functionality
    ADD CONSTRAINT functionality_pkey PRIMARY KEY (id);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (id);


--
-- Name: requirement_observing requirement_observing_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement_observing
    ADD CONSTRAINT requirement_observing_pkey PRIMARY KEY (observer_id, observed_id);


--
-- Name: requirement requirement_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement
    ADD CONSTRAINT requirement_pkey PRIMARY KEY (id);


--
-- Name: stakeholder_observer_requirement stakeholder_observer_requirement_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.stakeholder_observer_requirement
    ADD CONSTRAINT stakeholder_observer_requirement_pkey PRIMARY KEY (stakeholder_id, requirement_id);


--
-- Name: stakeholder stakeholder_pkey; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.stakeholder
    ADD CONSTRAINT stakeholder_pkey PRIMARY KEY (id);


--
-- Name: app_user uk1j9d9a06i600gd43uu3km82jw; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT uk1j9d9a06i600gd43uu3km82jw UNIQUE (email);


--
-- Name: functionality uk3k0wm2oa13odhqguwx0gy9mm7; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.functionality
    ADD CONSTRAINT uk3k0wm2oa13odhqguwx0gy9mm7 UNIQUE (label, project_id);


--
-- Name: project uk3k75vvu7mevyvvb5may5lj8k7; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT uk3k75vvu7mevyvvb5may5lj8k7 UNIQUE (name);


--
-- Name: app_user ukca699byqpy39i3fkohu5ya69m; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT ukca699byqpy39i3fkohu5ya69m UNIQUE (name);


--
-- Name: app_user ukosvp9pay16d2puan1o5y9ub5g; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT ukosvp9pay16d2puan1o5y9ub5g UNIQUE (ory_id);


--
-- Name: document ukrtjngt5nrj2uja842gbafa5pg; Type: CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.document
    ADD CONSTRAINT ukrtjngt5nrj2uja842gbafa5pg UNIQUE (s3_key);


--
-- Name: requirement_observing fk15ej53mrd85lxcp7rn26s3h4e; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement_observing
    ADD CONSTRAINT fk15ej53mrd85lxcp7rn26s3h4e FOREIGN KEY (observer_id) REFERENCES public.requirement(id);


--
-- Name: requirement fk90i86ya3vioykp05h351pda0j; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement
    ADD CONSTRAINT fk90i86ya3vioykp05h351pda0j FOREIGN KEY (project_id) REFERENCES public.project(id);


--
-- Name: document fkebvohyx0uckt4eb2cpiqiciba; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.document
    ADD CONSTRAINT fkebvohyx0uckt4eb2cpiqiciba FOREIGN KEY (project_id) REFERENCES public.project(id);


--
-- Name: document_observer_requirement fkhf8j5h437q5il91eml6n04t7i; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.document_observer_requirement
    ADD CONSTRAINT fkhf8j5h437q5il91eml6n04t7i FOREIGN KEY (document_id) REFERENCES public.document(id);


--
-- Name: requirement_observing fkiwquo86pw2rgdv9mgningl944; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement_observing
    ADD CONSTRAINT fkiwquo86pw2rgdv9mgningl944 FOREIGN KEY (observed_id) REFERENCES public.requirement(id);


--
-- Name: entity_lock fkl99jk3tog57nn8gels7rv0u98; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.entity_lock
    ADD CONSTRAINT fkl99jk3tog57nn8gels7rv0u98 FOREIGN KEY (user_id) REFERENCES public.app_user(id);


--
-- Name: document_observer_requirement fklbp6asi7yrh4ddf9gq3b3v672; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.document_observer_requirement
    ADD CONSTRAINT fklbp6asi7yrh4ddf9gq3b3v672 FOREIGN KEY (requirement_id) REFERENCES public.requirement(id);


--
-- Name: requirement fklm41c8ylnr535m6flgk6j3l6y; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement
    ADD CONSTRAINT fklm41c8ylnr535m6flgk6j3l6y FOREIGN KEY (parent_id) REFERENCES public.requirement(id);


--
-- Name: stakeholder_observer_requirement fklt82yipf5yulp7ynqh0gg9wyi; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.stakeholder_observer_requirement
    ADD CONSTRAINT fklt82yipf5yulp7ynqh0gg9wyi FOREIGN KEY (stakeholder_id) REFERENCES public.stakeholder(id);


--
-- Name: stakeholder_observer_requirement fkmen2shcs7lx62l630xho4l9p; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.stakeholder_observer_requirement
    ADD CONSTRAINT fkmen2shcs7lx62l630xho4l9p FOREIGN KEY (requirement_id) REFERENCES public.requirement(id);


--
-- Name: stakeholder fkq36621gtt43rd1dpcqxqgu8w7; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.stakeholder
    ADD CONSTRAINT fkq36621gtt43rd1dpcqxqgu8w7 FOREIGN KEY (project_id) REFERENCES public.project(id);


--
-- Name: functionality fkrc2x2gxp4rkdinw2wi5lycln; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.functionality
    ADD CONSTRAINT fkrc2x2gxp4rkdinw2wi5lycln FOREIGN KEY (project_id) REFERENCES public.project(id);


--
-- Name: requirement fkto3scffw2192ujt3w5mdns4hi; Type: FK CONSTRAINT; Schema: public; Owner: rms_manager
--

ALTER TABLE ONLY public.requirement
    ADD CONSTRAINT fkto3scffw2192ujt3w5mdns4hi FOREIGN KEY (functionality_id) REFERENCES public.functionality(id);


--
-- PostgreSQL database dump complete
--

\unrestrict NYcBFTQrLpKfPIeEgsaqYpuGEe35GZXfGPY3RGOTr5L3qxScQvDD9sPSdjaDnrD

